@charset "utf-8";

/**
 *   Font Setting
 */
/*
 노토 웹폰트
 - 사용법: http://ibizcomm.co.kr/?p=2063
 - 주의사항: http://webdir.tistory.com/440
 - 한글웹폰트 경량화해서 사용하기 : http://blog.coderifleman.com/post/111825720099/%ED%95%9C%EA%B8%80-%EC%9B%B9-%ED%8F%B0%ED%8A%B8-%EA%B2%BD%EB%9F%89%ED%99%94%ED%95%B4-%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0
*/
/* 
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
*/
/*
@import url("https://googledrive.com/host/0BxmAw3HA4YGCflRiaUxHOFVCcXVfWmpqeERVZ3AzcDAtM2FRV25XclJDRnVrTVVqamZJcEE/notokr-thin.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfk5lRk1WVjhQWVRHRldCVEw0TU1qMHhvNEdfM1E0cjZ1Z2ZHRDFfcWRVSDA/notokr-light.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfnVVTFJoaHQ2R0xQNURCSmp0M1BrWVQ5SVFKN05uaTRabC1XeFRpUm51T2c/notokr-demilight.css ");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfkljOGVJb3RMR200clRfUTVVdXlaRElPRTV3VGlNZVZ3ay1EYjdiZjJockk/notokr-regular.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfmN1U19nTHpWVFd2NHA2dXJ4c0FvOEdVcF9mc3ZfcWNyZjRDZ2plMy12SzQ/notokr-medium.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfnV0d3J5S21BSFdGUXctekQ1eHJoczF2OUcyTGZna3laMlg2MWR6cWoyV1E/notokr-bold.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfndGUGZVNzBEbVdkZGg0M0R1OElFeXcteXFVNUFOYlQ4TUdNWHZVQlJHaXM/notokr-black.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfkljOGVJb3RMR200clRfUTVVdXlaRElPRTV3VGlNZVZ3ay1EYjdiZjJockk/notokr-regular.css");
*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Thin'), local('Noto Sans Thin'), local('Noto Sans Thin');
  src: url(/public/contents/font/NotoSans-Thin.eot);
  src: url(/public/contents/font/NotoSans-Thin.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-Thin.woff) format('woff'),
  url(/public/contents/font/NotoSans-Thin.otf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('Noto Sans Light'), local('Noto Sans Light');
  src: url(/public/contents/font/NotoSans-Light.eot);
  src: url(/public/contents/font/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-Light.woff) format('woff'),
  url(/public/contents/font/NotoSans-Light.otf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 350;
  src: local('Noto Sans DemiLight'), local('Noto Sans DemiLight'), local('Noto Sans DemiLight');
  src: url(/public/contents/font/NotoSans-DemiLight.eot);
  src: url(/public/contents/font/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-DemiLight.woff) format('woff'),
  url(/public/contents/font/NotoSans-DemiLight.otf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('Noto Sans Regular'), local('Noto Sans Regular');
  src: url(/public/contents/font/NotoSans-Regular.eot);
  src: url(/public/contents/font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-Regular.woff) format('woff'),
  url(/public/contents/font/NotoSans-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('Noto Sans Medium'), local('Noto Sans Medium');
  src: url(/public/contents/font/NotoSans-Medium.eot);
  src: url(/public/contents/font/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-Medium.woff) format('woff'),
  url(/public/contents/font/NotoSans-Medium.otf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('Noto Sans Bold'), local('Noto Sans Bold');
  src: url(/public/contents/font/NotoSans-Bold.eot);
  src: url(/public/contents/font/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-Bold.woff) format('woff'),
  url(/public/contents/font/NotoSans-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Black'), local('Noto Sans Black'), local('Noto Sans Black');
  src: url(/public/contents/font/NotoSans-Black.eot);
  src: url(/public/contents/font/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
  url(/public/contents/font/NotoSans-Black.woff) format('woff'),
  url(/public/contents/font/NotoSans-Black.otf) format('truetype');
}
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfnVVTFJoaHQ2R0xQNURCSmp0M1BrWVQ5SVFKN05uaTRabC1XeFRpUm51T2c/notokr-demilight.css ");

html {
  body, h1, h2, h3, h4, h5, h6, th, td, a, span, button, input, select, textarea, pre {
    font-family: 'Noto Sans', 'Nanum Gothic', 'MalgunGothic', sans-serif !important;
  }
  
  body.is-win-xp
  , body.is-win-vista {
    font-family: 'Nanum Gothic', 'MalgunGothic', sans-serif !important;

  	h1, h2, h3, h4, h5, h6, th, td, a, span, button, input, select, textarea, pre {
	    font-family: 'Nanum Gothic', 'MalgunGothic', sans-serif !important;
	  }
  }

  &[lang="ja"] {
    body, h1, h2, h3, h4, h5, h6, th, td, a, span, button, input, select, textarea, pre {
     font-family: 'meiryo', sans-serif !important;
    }
  }
}

/**
 *   Base Style
 */
// font-size, style, etc...

/*
1. html { font-size: 62.5%; } 지정 시, 14px = 1.4em 처럼 쉬운 환산이 가능 
2. body { font-size: 16px; font-size: 1.6rem; } rem단위 미지원 브라우저 (ie 6~8, opera mini)에서는 px사이즈만 읽음
   (http://caniuse.com/#feat=rem)
3. line-height : line-height px ÷ font-size px
   (http://gregrickaby.com/using-the-golden-ratio-and-rems/)
4. 디폴트 폰트사이즈가 16px보다 작을 경우, 너비에 따른 사이즈 조절이 무의미하므로 font-size: 1.6rem;을 삭제하고 px로만 설정 
*/
html { font-size: 62.5%; }
body {
  min-width: 380px;
  background-color: #1b1b1b;
  font-size: 14px; font-size: 1.4rem; font-weight: $font-weight-light;
  color: $txt-color-dark; line-height: $line-height-base; letter-spacing: -0.01em; // 1000 = 1em
  overflow: auto;
}
/*
body.home { opacity: 0; }
body.home.onload { opacity: 1; }
body#home { /* TODO 바디에 서버변수url로 아이디 만들어야 함 *
  background-image: url(/public/brand/img/bg02.jpg); background-size: cover;
  background-repeat: no-repeat; background-position: center top;
}
*/
// link
a {
  color: $txt-color-light; text-decoration: none;
  @include crossBrowser_transition(all 0.25s);
}
a:hover,
a:focus { text-decoration: none; color: $txt-color-hover; }


/**
 *   Help Class
 */
.blind {
  visibility: hidden; overflow: hidden;
  position: absolute; top: 0; left: 0;
  width: 1px; height: 1px;
  font-size: 0; line-height: 0;
}





